<%inherit file="homepage/templates/base.htm" />
<%! from catalog import models as cmod %>
<%! from account import models as amod %>

<%block name="header">
<nav class="navbar fixed-top navbar-light bg-faded">
    <a class="navbar-brand" href="/homepage/">
        <img src="${ STATIC_URL }homepage/media/images/logo.png" width="54" height="54" alt="logo.png">
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link ${'active' if request.dmp.page == 'index' else '' }" href="/index/">Home</a></li>
        <li class="nav-item"><a class="nav-link ${'active' if request.dmp.page == 'about' else '' }" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link ${'active' if request.dmp.page == 'faq' else '' }" href="/faq/">FAQ</a></li>
        <li class="nav-item"><a class="nav-link ${'active' if request.dmp.page == 'terms' else '' }" href="/terms/">Terms</a></li>
        <li class="nav-item"><a class="nav-link ${'active' if request.dmp.page == 'contact' else '' }" href="/contact/">Contact</a></li>
        <% cart = cmod.Order.objects.all().filter(user=amod.User.objects.get(email=request.user)).filter(status="cart").first() if request.user.is_authenticated else null%>
        %if (cart is not null) and (cart is not None) and (cart.num_items() > 0):
        <li class="${ 'active nav-item' if request.dmp.page == '/catalog/cart' else ''}"><a href="/catalog/cart/${cart.id}" class="nav-link">Shopping Cart (${cart.num_items()})</a></li>
        %endif
        %if  request.user.is_authenticated:
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</button>
            <div class="dropdown-menu">
              <% currentUser = amod.User.objects.get(id=request.user.id) %>
              %if currentUser.is_superuser:
                <a class="dropdown-item" href="/manager/index/">Edit Products</a>
                <a class="dropdown-item" href="/manager/dashboard/">View Dashboard</a>
              %endif
                <a class="dropdown-item" href="/account/logout?next=${request.path}">Log Out</a>
            </div>
        </li>
        %endif
        %if  not request.user.is_authenticated:
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/account/signup/">Sign Up</a>
                <a class="dropdown-item" href="/account/login?next=${request.path}">Log In</a>
            </div>
        </li>
        %endif
    </ul>
</nav>
</%block>

<%block name="footer">
    <p class="footer-text">
        <%! from datetime import datetime %>
        &copy; FOMO ${ datetime.now().year }. All rights reserved.
    </p>
</%block>
