<%inherit file="app_base.htm" />

<%block name="center">
<div class="content top-buffer bottom-buffer">
  <h1>Shopping Cart <a class="btn btn-primary" href="/catalog/checkout/${order.id}">Checkout Now</a></h1>

    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>
            Product
          </th>
          <th>
            Quantity
          </th>
          <th>
            Price
          </th>
          <th>
            Item Total
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        %for item in items:
          <tr>
            <td class="productTile spaceLeft">
                <img src="${ item.product.image_url() }" alt="Image of ${ item.product.name }" width="100px" />
            </td>
            <td>
              ${ item.product.name }
            </td>
            <td>
              ${ item.quantity }
            </td>
            <td>
              $${ item.price} each
            </td>
            <td>
              $${ item.extended }
            </td>
            <td class="spaceRight">
              <a href="/catalog/delete/${item.id}/${order.id}">Delete</a>
            </td>
          </tr>
        %endfor
      </tbody>
      <thead>
        <tr>
          <th class="spaceLeft">
            Sales Tax:
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
            $${ tax.price }
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <th>
            Total:
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
            $${ order.total_price }
          </th>
          <th>
          </th>
        </tr>
      </thead>
    </table>
</div>
</%block>

<%block name="left">
</%block>
<%block name="right">
</%block>
