.container {
  padding: 30px 0 0 0; }
  .container ul.product-images {
    float: left;
    list-style: none;
    padding: 0; }
    .container ul.product-images li {
      border-radius: 25px;
      box-shadow: 5px 5px #FF9900;
      margin: 0 0 13%; }
      .container ul.product-images li img {
        border-radius: 25px;
        width: 80px; }
  .container img.big-image {
    border-radius: 25px;
    box-shadow: 5px 5px #FF9900;
    float: left;
    width: 350px;
    margin: 0 3% 3%; }
  .container .action {
    text-align: right;
    vertical-align: middle; }
    .container .action select {
      width: 50px;
      margin: 2%; }
    .container .action .btn-react-white {
      margin: 2%; }


#form p {
  text-align: left;
}

#form p > label {
  font-weight: bold;
}

.productTile {
  margin-right: 10px;
}

.product-images {
  margin-right: 25px;
}

.btn-primary {
  background-color: #FF9900;
  color: #f2f2f2;
  border-color: #FF9900;
  margin-bottom: 15px;
  text-align: center;
  display: block;
}
