<%inherit file="app_base.htm" />
<%! from catalog import models as cmod %>



<%block name="center">



    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.load('current', {'packages':['bar']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawLineChart);
      google.charts.setOnLoadCallback(drawBarChart);
      google.charts.setOnLoadCallback(drawBar2Chart);



      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      //pie graph
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');


        data.addRows(${catRev});

        // Set chart options
        var options = {'title':'Revenue by Category',
                        'titleTextStyle':{fontSize:26},
                       'width':600,
                       'height':600,
                      pieHole: 0.4,
                      chartArea:{
                        'width':400,
                        'height':400,

                      },
                      legend:{
                        'position':'none',

                      },

                      pieSliceTextStyle:{
                        'color': 'black',
                        'fontSize':20,
                      }


                      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      //line graph
      function drawLineChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales' ],
          ['2004',  1000],
          ['2005',  1170],
          ['2006',  660],
          ['2007',  1030]
        ]);

        var options = {
          'title': 'Previous 12 Month Revenue',
          'titleTextStyle':{fontSize:26},
          curveType: 'function',
          'width':600,
          'height':600,
          legend:{
            'position':'none',
          }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

      //bar graph 1

      function drawBarChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);




        var options = {
          chart: {
            title: 'Company Performance',
          },

          'width':600,
          'height':600,

          legend:{
            'position':'none',
          },

          chartArea:{
            width:10,
            height:10,

          }


        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }


      //bar graph 2

      function drawBar2Chart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',

          },
          'width':600,
          'height':600,
          legend:{
            'position':'none',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart2_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }

    </script>

    <div class="content top-buffer">


    <!--Div that will hold the pie chart-->

      <div id="flex1">
        <div class="flexContainer">
          <div id="chartDivCont">
            <h3>Company Revenue</h3>
            <div id="chart_div" style="width: 1000px; height: 625px;"></div>
          </div>
          <div id="columnchart_materialCont">
            <h3>Company Stats</h3>
            <div id="columnchart_material" style="width: 1000px; height: 625px;"></div>
          </div>
        </div>
        <div class="flexContainer">

          <div id="columnchart2_materialCont">
            <h3>Company Stats</h3>
            <div id="columnchart2_material" style="width: 1000px; height: 625px;"></div>
          </div>

          <div id="curve_chartCont">
            <h3>Previous 12 Month Revenue</h3>
            <div id="curve_chart" style="width: 1000px; height: 625px"></div>
          </div>
        </div>
      </div>


     </div>


</%block>
