<%inherit file="manager/templates/app_base.htm" />

<%block name="center">
    <div class="content top-buffer">
        <h1>All Products <a href=${ "/manager/create/"} class="btn btn-primary">Create New</a></h1>
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>

            %for p in products:
                %if p.status == '1':
                <tr>
                    <td>${ p.category.name }</td>
                    <td>${ p.__class__.__name__ }</td>
                    <td>${ p.name }</td>
                    <td>${ p.price }</td>
                    <td>${ p.quantity }</td>
                    <td class="btn-holder">
                        <a href=${ "/manager/edit/{}".format(p.id) } class="btn btn-link">
                          Edit
                        </a>
                    </td>
                    <td>
                      <a href=${ "/manager/delete/{}".format(p.id) } class="btn btn-link">
                        Delete
                      </a>
                    </td>
                </tr>
                %endif
            %endfor

        </table>
    </div>
</%block>

<%block name="left">
  <div class="content">
    <h3>Items to Re-Order</h3>
    <ul>
        %for item in lowProducts:
        <li>item.name</li>
        %endfor
    </ul>
  </div>

</%block>

<%block name="right"></%block>
