<%inherit file="base.htm" />
<%! from catalog import models as m %>
<%! from account import models as amod %>

<%block name="header">
    <nav class="navbar fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="/homepage/">
            <img src="${ STATIC_URL }homepage/media/images/logo.png" width="70" height="70" alt="family oriented music organization">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'homepage' and request.dmp.page == 'index' else '' }" href="/homepage/index/">Home</a></li>
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'homepage' and request.dmp.page == 'about' else '' }" href="/homepage/about/">About</a></li>
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'homepage' and request.dmp.page == 'faq' else '' }" href="/homepage/faq/">FAQ</a></li>
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'homepage' and request.dmp.page == 'terms' else '' }" href="/homepage/terms/">Terms</a></li>
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'homepage' and request.dmp.page == 'contact' else '' }" href="/homepage/contact/">Contact</a></li>
            <li class="nav-item"><a class="nav-link ${'active' if request.dmp.app == 'catalog' and request.dmp.page == 'index' else '' }" href="/catalog/index/">Catalog</a></li>
            <% cart = m.Order.objects.all().filter(user=amod.User.objects.get(email=request.user)).filter(status="cart").first() if request.user.is_authenticated else null%>
            %if (cart is not null) and (cart is not None) and (cart.num_items() > 0):
            <li class="${ 'active nav-item' if request.dmp.page == '/catalog/cart' else ''}"><a href="/catalog/cart/${cart.id}" class="nav-link">Shopping Cart (${cart.num_items()})</a></li>
            %endif
            %if  request.user.is_authenticated:
            <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/account/logout/">Log Out</a>
                </div>
            </li>
            %else:
            <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/account/signup/">Sign Up</a>
                    <a class="dropdown-item" href="/account/login/">Log In</a>
                </div>
            </li>
            %endif
        </ul>
    </nav>
</%block>

<%block name="left">
    <div class="content left">
        <ul class="category-list">
            <a id="all-product" href="/catalog/index/"><li>All Products</li></a>
            %for c in m.Category.objects.all():
                <a href="/catalog/index/${c.id}/" class="cat ${'active' if category_id == c.id else '' }"><li>${c.name |h}</li></a>
            %endfor
        </ul>
    </div>
</%block>

<%block name="right">
    <div class="content right">
        <div id="right-container">
            <p class="right-heading">View History</p>
            <ol class="history">
                %for i in range(len(request.last_five_p)):
                    <a href="/catalog/detail/${request.last_five_p[i].id}">
                        <li class="viewed-item">
                            <img src="${request.last_five_p[i].image_url()}" alt=${request.last_five_p[i].name}>
                            <p class="name">${request.last_five_p[i].name | h}</p>
                            <p class="price">&dollar;${request.last_five_p[i].price}</p>
                        </li>
                    </a>
                %endfor
            </ol>
        </div>
    </div>
</%block>

<%block name="footer">
    <p class="footer-text">
        <%! from datetime import datetime %>
        &copy; FOMO ${ datetime.now().year }. All rights reserved.
    </p>
</%block>
