<html>

<body style="text-align: center; background-color: rgba(255, 218, 160, .25); padding: 50px 0;">
    <h1 style="text-align: center">Thank You!</h1>
    <p style="text-align: center">
      Your order is being processed, and will be shipped to you shortly. Here is your receipt.
    </p>

    <div style="text-align: center; margin: 0 auto;">
      <table style="margin-left: auto; margin-right: auto; border: solid; border-color: #dddbd7; background-color: #dddbd7; text-align: center;">
        <thead>
          <tr style="background-color: #fff;">
            <th style="padding: 5px">Image</th>
            <th style="padding: 5px">
              Product
            </th>
            <th style="padding: 5px">
              Quantity
            </th>
            <th style="padding: 5px">
              Price
            </th>
            <th style="padding: 5px">
              Item Total
            </th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td style="vertical-align: middle; background-color: #fff; padding: 10px;">
                  <img src="https://www.familymusic.me/catalog/media/instruments/fluto.jpg" alt="Product Image" style="width: 100px" />
              </td>
              <td style="vertical-align: middle; background-color: #fff; padding: 10px;">
                Yamaha Flute
              </td>
              <td style="vertical-align: middle; background-color: #fff; padding: 10px;">
                1
              </td>
              <td style="vertical-align: middle; background-color: #fff; padding: 10px;">
                $220.50
              </td>
              <td style="vertical-align: middle; background-color: #fff; padding: 10px;">
                $220.50
              </td>
            </tr>
        </tbody>

        <tfoot>
          <tr style="background-color: #fff;">
            <th>
              Sales Tax:
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
              $10.36
            </th>
          </tr>

          <tr style="background-color: #fff;">
            <th>
              Total:
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
              $230.86
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

    <p style="text-align: center">
      Please let us know if you have any questions or concerns.
    </p>
    <p style="text-align: center">
      Family Oriented Music Organization
      <br />
      (801) 950-4232
      <br />
      sales@familymusic.me
    </p>
  <body>
</html>
