<%inherit file="catalog/templates/app_base.htm" />

<%block name="center">
    <div class="content">
        <div class="page-navigator">
            %if category_name != "Products":
                <h1 class="category">${category_name}</h1>
            %else:
                <h1 class="category">Products</h1>
            %endif
            <p>
                <span id="pagenator">
                    <span id="left-arrow" class="arrow"> &blacktriangleleft; </span>
                    <span id="page_text">Page <span id="current-page">${page}</span> / <span id="last-page">${num_pages}</span></span>
                    <span id="right-arrow" class="arrow"> &blacktriangleright; </span>
                </span>
            </p>
        </div>
        <div id="products">
            <ul class="catalog">
                %for p in products:
                    <a href="/catalog/detail/${p.id}">
                      <li class="product">
                        <div class="price">&dollar;${p.price}</div>
                        <div class="name"><p>${p.name}</p></div>
                        <div class="imgCont">
                          <img src="${p.image_url()}" alt=${p.name} class="prodImg">
                        </div>
                            <div class="cover-container">
                                <div class="cover">
                                    <div class="cover-name"><p>${p.name}</p></div>
                                    <div class="cover-price">&dollar;${p.price}</div>
                                </div>
                            </div>
                      </li>
                    </a>
                %endfor
            </ul>
        </div>
    </div>
</%block>
