<%inherit file="app_base.htm" />

<%block name="center">
    <div class="content">
        <h3>Frequently Asked Questions</h3>
        <br />
        <div class="question-container">
            <h4>What does FOMO stand for?</h4>
            <p><span class="indent"></span>Family Oriented Whatever</p>
            <br />
            <h4>Why FOMO?</h4>
            <p><span class="indent"></span>It's just better and less expensive.</p>
            <br />
            <h4>Ooh, that's a cool website.</h4>
            <p><span class="indent"></span>Thank you.</p>
        </div>
    </div>
</%block>
