<%inherit file="app_base.htm" />

<%block name="center">
      <h2>Frequently Asked Questions</h3>
        <br>

        <h4 class="top-buffer"><strong>How does your rent-to-own program work?</strong></h6>
          <p>With the rent-to-own program, the first eight months of rent go 100% toward the purchase price if the renter chooses to buy at that point. Any rent beyond the first eight months only counts 50% toward the purchase price. All renters are assumed to be rent-to-own until they physically return the instrument. Even if the renter doesn’t indicate a rent-to-own preference, If they pay rent sufficient to cover the instrument cost, the instrument is then considered sold.</p>

        <hr>

        <h4 class="top-buffer"><strong>Can I get my instrument repaired here?</strong></h6>
          <p>We do have a repair shop in the building that allows a wide variety of instruments to be repaired or reconditioned. An estimate is calculated before any repairs are started. However, payment isn’t due until the repair is complete. If the repair is beyond the capabilities at our store, we have preferred partners we recommend the instrument owners use.</p>
</%block>
