<%inherit file="app_base.htm" />

<%block name="addonlink">
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
</%block>

<%block name="top">
<div class="content">
    <div class="row" id="eye-catcher">
        <div class="col-md-6 text-center">
            <h1 id="head-text"><strong><span id="row-1">Family Oriented</span><br /><span id="row-2">Music Organization</span></strong></h1>
            <a href="#content"><p class="btn btn-md" id="btn-explore">SHOP &raquo;</p></a>
        </div>
        <div class="col-md-6">
            <div class="grid-container-img">
                <div class="grid-item layer1 r-1 c-4"><img src="${ STATIC_URL }catalog/media/instruments/violin.jpg" alt="violin" /></div>
                <div class="grid-item layer1 r-1 c-5"><img src="${ STATIC_URL }catalog/media/instruments/drum.jpg" alt="drum" /></div>
                <div class="grid-item layer2 r-1 c-6"><img src="${ STATIC_URL }catalog/media/instruments/trumpet.jpg" alt="trumpet" /></div>
                <div class="grid-item layer2 r-2 c-4"><img src="${ STATIC_URL }catalog/media/instruments/piano.jpg" alt="piano" /></div>
                <div class="grid-item layer1 r-2 c-5"><img src="${ STATIC_URL }catalog/media/instruments/fluto.jpg" alt="fluto" /></div>
                <div class="grid-item layer1 r-2 c-6"><img src="${ STATIC_URL }catalog/media/instruments/gitar.jpg" alt="gitar" /></div>
                <div class="grid-item layer1 r-3 c-4"><img src="${ STATIC_URL }catalog/media/instruments/synthesizer.jpg" alt="synthesizer" /></div>
                <div class="grid-item layer2 r-3 c-5"><img src="${ STATIC_URL }catalog/media/instruments/malimba.jpg" alt="malimba" /></div>
                <div class="grid-item layer2 r-3 c-6"><img src="${ STATIC_URL }catalog/media/instruments/oboe.jpg" alt="oboe" /></div>
            </div>
        </div>
    </div>
    <div class="row background-white" id="content">
        <div class="grid-container-jt">
            <a href="/catalog/"><div class="grid-item">
                <div class="jumbotron">
                    <h2 class="display-4">Signiture Instrument</h2>
                    <hr class="my-4">
                    <p class="lead">Our signiture insturment is made by craftsman. Find one and only instrument for you.</p>
                </div>
            </div></a>
            <a href="/catalog/"><div class="grid-item">
                <div class="jumbotron">
                    <h2 class="display-4">Renal Instrument</h2>
                    <hr class="my-4">
                    <p class="lead">Just looking for an instrument for a short period of time? Don't worry. We don't make you buy one.</p>
                </div>
            </div></a>
            <a href="/catalog/"><div class="grid-item">
                <div class="jumbotron">
                    <h2 class="display-4">Equipments</h2>
                    <hr class="my-4">
                    <p class="lead">Parts, tools, sheet music, varnish, and anything that enhances your music life.</p>
                </div>
            </div></a>
        </div>
    </div>
</div>
</%block>
